em {
    font-weight: bold;
    font-style: normal;
}

em,
strong {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

p,
h1,
h2,
h3,
h4 {
    font-family: roboto;
}
strong{
    color: #DDB725;
}

ul li {
    padding-left: 50px;
    list-style-position: outside;
    font-size: 30px;
}

.all {
    padding: 200px;
}

.before_ul h4 {
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}

.body{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin: 0;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer {
    padding-left: 300px;
}

.game em {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
   
}



.header em {
    color: #DDB725;
    font-weight: 100;
    font-style: italic;
    font-size: 100px;
}
.header h1 {
    font-weight:700;
    font-style: normal;
    font-size: 100px;
}
.linear_gradiant{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 30%, rgba(224,224,224,1) 90%);
}

.presentation p {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.presentation,
 .ul,
 .before_ul {
     padding-right: 20px;
 }



.sub-title{
    display: flex;
    flex-direction: row;
}



.sub_title h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 50px;
}


.terminal_title h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

.terminal_title em {
    color: #DDB725;
    font-weight: 300;
    font-style: italic;
    font-size: 60px;
}

.terminal_title p {
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
}


.ul p {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

